DownloadDirFiles
Logic/__pycache__/FileListener.cpython-34.pyc
*.pyc
Logic/__pycache__/FileListener.cpython-34.pyc
*.pyc
Logic/__pycache__/VideoOrganizer.cpython-34.pyc
src/pip-delete-this-directory.txt